################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Exam_January/FileContentIndex/ed448e67-8925-412b-be18-889c6250bb24.vsidx
.vs/Exam_January/FileContentIndex/ded5c158-0342-4ab9-b45d-882dc4f13418.vsidx
*.vsidx
