################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Exam_January/FileContentIndex/ed448e67-8925-412b-be18-889c6250bb24.vsidx
